h1,
h2,
h3 {
	text-align: center;
}

header, main {
	margin: 5px 25px;
	margin-bottom: 0;
}

nav ul a {
	font-size: 1.1rem;
}

#headerImage {
	height: 150px;
}

#booksPage {
	flex-direction: row;
	justify-content: space-between;
	section {
		width: 46%;
		margin-top: 10px;
	}
}